_name_: dna_segment
dataset_name: K12
dest_path: null
max_length: 130
d_output: ${.${.dataset_name}.classes}
use_padding: True
padding_side: 'left'
add_eos: False
batch_size: 32
train_len: ${.${.dataset_name}.train_len}
__l_max: ${.max_length}
shuffle: true  # set this as default!
segment_dataset:
  train_len: 100
  classes: 2
K12:
  train_len: 274
  classes: 3